@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 30 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 30 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 30 10% 20%;
    --primary: 0 0% 7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 30 10% 96%;
    --secondary-foreground: 30 10% 20%;
    --muted: 30 10% 96%;
    --muted-foreground: 30 5% 50%;
    --accent: 30 10% 96%;
    --accent-foreground: 30 10% 20%;
    --destructive: 348 83% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 30 10% 90%;
    --input: 30 10% 90%;
    --ring: 30 10% 20%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --selected: 30 10% 96%;
    --selected-border: 30 10% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
